body{
  background-color: #83ccd2;
}

.fadeIn{
animation-name:fadeInAnime;
animation-duration:1s;
animation-fill-mode:forwards;
opacity:0;
}

@keyframes fadeInAnime{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeLeft{
animation-name:fadeLeftAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
opacity:0;
}

@keyframes fadeLeftAnime{
  from {
    opacity: 0;
  transform: translateX(-100px);
  }

  to {
    opacity: 1;
  transform: translateX(0);
  }
}

.box-design1 {
  background-color: #F3F3F3;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  color: #949495;
}

h1{
  color: #DCDDDD;
font-family: 'Arial' ,'Century Gothic';
}

h3{
  color: #DCDDDD;
font-family: 'Arial' ,'Century Gothic';
}

p{
  color: #DCDDDD;
  font-family: 'メイリオ' ,'Yu Gothic' ,'Arial';
}
